<div class="data-table" ng-hide="hideOne(table_odds.th.length,'1')">
  <table class="block-table">
  <caption>{{tablename(table_odds.tableName,match.sportKind)}}</caption>
    <thead>
      <tr>
         <th>Фора</th>
         <th>1</th>
         <th>Фора</th>
         <th>2</th>
      </tr>
   </thead>
   <tbody class="semibold-col">
      <tr ng-repeat="th in table_odds.th" ng-hide="hideFirst($index)">
         <td>{{th.f1.value}}</td>
         <td class="{{th.fk1.dir}}">{{th.fk1.value}}</td>
         <td>{{th.f2.value}}</td>
         <td class="{{th.fk2.dir}}">{{th.fk2.value}}</td>
      </tr>
   </tbody>  
  </table>
</div>