<table class="block-table isotope large">
<thead>
  <tr>
    <th></th>
    <th>П1</th>
    <th>Х</th>
    <th>П2</th>
    <th ng-show="hideDCmarket(match.sportKind)">1Х</th>
    <th ng-show="hideDCmarket(match.sportKind)">12</th>
    <th ng-show="hideDCmarket(match.sportKind)">Х2</th>
    <th>Ф1</th>
    <th>КФ</th>
    <th>Ф2</th>
    <th>КФ</th>
    <th>Т</th>
    <th>Б</th>
    <th>М</th>
  </tr>
</thead><thead>
</thead><tbody>
  <tr>
    <td>Матч</td>
    <td class="{{table_data.bc_1.dir}}">{{table_data.bc_1.value}}</td>
    <td class="{{table_data.bc_X.dir}}">{{table_data.bc_X.value}}</td>
    <td class="{{table_data.bc_2.dir}}">{{table_data.bc_2.value}}</td>
    <td class="{{table_data.bc_1X.dir}}" ng-show="hideDCmarket(match.sportKind)">{{table_data.bc_1X.value}}</td>
    <td class="{{table_data.bc_12.dir}}" ng-show="hideDCmarket(match.sportKind)">{{table_data.bc_12.value}}</td>
    <td class="{{table_data.bc_X2.dir}}" ng-show="hideDCmarket(match.sportKind)">{{table_data.bc_X2.value}}</td>

    <td class="green-text">{{table_data.bc_f1.value}}</td>
    <td class="{{table_data.bc_fk1.dir}}">{{table_data.bc_fk1.value}}</td>

    <td class="green-text">{{table_data.bc_f2.value}}</td>
    <td class="{{table_data.bc_fk2.dir}}">{{table_data.bc_fk2.value}}</td>

    <td class="{{table_data.bc_T_V.dir}} green-text">{{table_data.bc_T_V.value}}</td>
    <td class="{{table_data.bc_T_G.dir}}">{{table_data.bc_T_G.value}}</td>
    <td class="{{table_data.bc_T_L.dir}}">{{table_data.bc_T_L.value}}</td>
  </tr>

  <tr ng-repeat="time in table_data_time" ng-show="time">
    <td>{{trPeriod(match.sportKind,time.tableName)}}</td>
    
    <td class="{{time.bc_1.dir}}">{{time.bc_1.value}}</td>
    <td class="{{time.bc_X.dir}}">{{time.bc_X.value}}</td>
    <td class="{{time.bc_2.dir}}">{{time.bc_2.value}}</td>
    <td class="{{time.bc_1X.dir}}" ng-show="hideDCmarket(match.sportKind)">{{time.bc_1X.value}}</td>
    <td class="{{time.bc_12.dir}}" ng-show="hideDCmarket(match.sportKind)">{{time.bc_12.value}}</td>
    <td class="{{time.bc_X2.dir}}" ng-show="hideDCmarket(match.sportKind)">{{time.bc_X2.value}}</td>

    <td class="green-text">{{time.bc_f1.value}}</td>
    <td class="{{time.bc_fk1.dir}}">{{time.bc_fk1.value}}</td>

    <td class="green-text">{{time.bc_f2.value}}</td>
    <td class="{{time.bc_fk2.dir}}">{{time.bc_fk2.value}}</td>

    <td class="{{time.bc_T_V.dir}} green-text">{{time.bc_T_V.value}}</td>
    <td class="{{time.bc_T_G.dir}}">{{time.bc_T_G.value}}</td>
    <td class="{{time.bc_T_L.dir}}">{{time.bc_T_L.value}}</td> 
  </tr>

</tbody>
</table>