<div class="header-content">
	<table class="table">
	  <tr>
	    <td class="logo_team1" width="50"></td>
	    <td><h2>{{match.team1}}</h2></td>
	    <td class="score">{{match.score}}</td>
	    <td><h2>{{match.team2}}</h2></td>
	    <td class="logo_team2" width="50"></td>
	  </tr>
	  <tr>
	    <td></td>
	    <td colspan="3" class="time-count">
	      <any ng-show="match.mins">
	      <span ng-show="showTime(match.mins,match.sportKind,match.status)" class="icoTimer">{{showTime(match.mins,match.sportKind,match.status)}}</span>
	      <span ng-show="showHT(match.mins)" class="icoTimer icoPause">Перерыв</span>
	      <span ng-show="showFT(match.mins)" class="icoTimer">Матч завершен</span>
	      </any>
	      <div ng-show="showStatus(match.status,'status')"><span class="icoTimer icoAlert">{{showStatus(match.status,'status')}}</span></div>
	      <div ng-show="showStatus(match.liveStatus,'liveStatus')"><span class="alertmsg">{{showStatus(match.liveStatus,'liveStatus')}}</span></div>
	    </td>
	    <td></td>
	  </tr>
	</table>
</div>