<div class="data-table" ng-show="table_score.th1">
  <table class="block-table th-color">
    <caption>Счет матча</caption>
    <tbody>
      <tr ng-repeat="th in table_score.th1">
        <td>{{table_score.th1[$index].score}}</td>
        <td class="{{table_main.th1[$index].index.value}}">{{table_score.th1[$index].index.value}}</td>
        <td>{{table_score.th2[$index].score}}</td>
        <td class="{{table_main.th2[$index].index.value}}">{{table_score.th2[$index].index.value}}</td>
        <td>{{table_score.th3[$index].score}}</td>
        <td class="{{table_main.th3[$index].index.value}}">{{table_score.th3[$index].index.value}}</td>
      </tr>
    </tbody>
  </table>
</div>