<div class="data-table" ng-hide="hideOne(table_total.th.length,'1')">
  <table class="block-table">
  <caption>{{tablename(table_total.tableName,match.sportKind)}}</caption>
    <thead>
      <tr>
        <th>T</th>
        <th>Б</th>
        <th>М</th>
      </tr>
   </thead>
   <tbody class="semibold-first-col">
      <tr ng-repeat="th in table_total.th" ng-hide="hideFirst($index)">
        <td>{{th.rate.value}}</td>
        <td class="{{th.b.dir}}">{{th.b.value}}</td>
        <td class="{{th.m.dir}}">{{th.m.value}}</td>
      </tr>
   </tbody>  
  </table>
</div>