<div class="data-table two-tables" ng-show="table_total_team1.th">
  <table class="block-table half" ng-show="table_total_team1.th">
  <caption>{{tablename(table_total_team1.tableName,match.sportKind)}}</caption>
    <thead>
      <tr><th>T</th><th>Б</th><th>М</th></tr>
   </thead>
   <tbody class="semibold-first-col">
      <tr ng-repeat="th in table_total_team1.th">
        <td>{{th.rate.value}}</td>
        <td class="{{th.b.dir}}">{{th.b.value}}</td>
        <td class="{{th.m.dir}}">{{th.m.value}}</td>
      </tr>
   </tbody>
  </table>

  <table class="block-table half" ng-show="table_total_team2.th">
  <caption>{{tablename(table_total_team2.tableName,match.sportKind)}}</caption>
    <thead>
      <tr><th>T</th><th>Б</th><th>М</th></tr>
   </thead>
   <tbody class="semibold-first-col">
      <tr ng-repeat="th in table_total_team2.th">
        <td>{{th.rate.value}}</td>
        <td class="{{th.b.dir}}">{{th.b.value}}</td>
        <td class="{{th.m.dir}}">{{th.m.value}}</td>
      </tr>
   </tbody>  
  </table>
</div>
<div class="clear"></div>